!**.py
!**.md
!**.jpg
!**.png
!**.jepg
!**.tex
!latex

Axi**
kob**
ad-*
LM*
llama*


LabelPrinter.py
.vscode/launch.json
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Autocrat.iml
